webservices-jaxws/src/main/resources/wsdl/Peliculasservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://ws.formacion.ipartek.com/" name="peliculasservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.formacion.ipartek.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.formacion.ipartek.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="obtenerporid_peli" type="tns:obtenerporid_peli"/>

      <xs:element name="obtenerporid_peliResponse" type="tns:obtenerporid_peliResponse"/>

      <xs:complexType name="obtenerporid_peli">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenerporid_peliResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:peliculaMensaje" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="peliculaMensaje">
        <xs:sequence>
          <xs:element name="mensaje" type="xs:string" minOccurs="0"/>
          <xs:element name="pelicula" type="tns:pelicula" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pelicula">
        <xs:sequence>
          <xs:element name="codigo" type="xs:int"/>
          <xs:element name="festreno" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="genero" type="tns:genero" minOccurs="0"/>
          <xs:element name="titulo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="genero">
        <xs:sequence>
          <xs:element name="nombre" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="obtenerporid_peli">
    <part name="parameters" element="tns:obtenerporid_peli"/>
  </message>
  <message name="obtenerporid_peliResponse">
    <part name="parameters" element="tns:obtenerporid_peliResponse"/>
  </message>
  <portType name="PeliculasServiceWSImp">
    <operation name="obtenerporid_peli">
      <input wsam:Action="http://ws.formacion.ipartek.com/PeliculasServiceWSImp/obtenerporid_peliRequest" message="tns:obtenerporid_peli"/>
      <output wsam:Action="http://ws.formacion.ipartek.com/PeliculasServiceWSImp/obtenerporid_peliResponse" message="tns:obtenerporid_peliResponse"/>
    </operation>
  </portType>
  <binding name="PeliculasServiceWSImpPortBinding" type="tns:PeliculasServiceWSImp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="obtenerporid_peli">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="peliculasservice">
    <port name="PeliculasServiceWSImpPort" binding="tns:PeliculasServiceWSImpPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

